<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body >
    <header>
        <img id ="logo" src="Bakery store\red\linkedin_banner_image_1.png">
        <a href="/data" class="home">Home</a>
        <a href="/login" class="login">Login</a>
        <div class="dropdown">
            <button class="dropbtn">Dropdown 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              
              <a href="/">Register</a>
              <a href="/order">My Orders</a>
            </div>
          </div> 
    </header>
    <footer>
        <div class="foot">
            <a href="/contact" class="conus">contact us</a>
            <a href="/about" class="aboutus">about us</a>
        </div>
    </footer>
     
    <span id="spana">
          
          <h3><head>About us</head><br><br>
            This is an online store for delicious,Freshly baked food.<br>
            You can find cakes and a lot of other things here.<br>
            Remember, we don't bake unless it's already ordered and<br>
            that's just to keep our bakeries fresh.<br>
            Hope you enjoy our page as much as you'll enjoy our products.</h3>   
    </span>
    
</body>
</html>