<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bakery</title>
  <link rel="stylesheet" href="./css/style.css">
</head>


<body>    
  <header>
  <img id ="logo" src="Bakery store\red\linkedin_banner_image_1.png">
  <a href="/data" class="home">Home</a>
  <a href="/login" class="login">Login</a>
  
  <div class="dropdown">
      <button class="dropbtn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/">Register</a>
        <a href="/order">My Orders</a>
      </div>
    </div> 
</header>
<footer>
    <div class="foot">
        <a href="/contact" class="conus">contact us</a>
        <a href="/about" class="aboutus">about us</a>
    </div>
</footer>
    <div id="main_body">
    <div id="sidebar">
      <div class="sidebar-link"><button ><a href="#" id="side">offers</a></button></div>
      <div class="sidebar-link"><button ><a href="/bake" id="side">Bakery</a></button></div>
      <div class="sidebar-link"><button ><a href="/bisc" id="side">kahk</a></button></div>
     
    </div>
    <div id="Bakerybody">
        <div class="bake"><img src="Bakery/Apple pie.webp">
        <div><p>Apple pie</p></div>
        <div><p>30$</p></div>
        <div><button id="bakecart"><p>Add to Cart</p><img src="signs/cart.png" id="cart"></button></div></div>
        <div class="bake"><img src="Bakery/cheesecake party wheel.webp">
          <div><p>cheesecake party wheel</p></div>
          <div><p>28$</p></div>
          <div><button id="bakecart"><p>Add to Cart</p><img src="signs/cart.png" id="cart"></button></div></div>
          <div class="bake"><img src="Bakery/cherry crunch pie.webp">
          <div><p>cherry crunch pie</p></div>
          <div><p>15$</p></div>
          <div><button id="bakecart"><p>Add to Cart</p><img src="signs/cart.png" id="cart"></button></div></div>
          <div class="bake"><img src="Bakery/chocolate cake.webp">
          <div><p>chocolate cake</p></div>
          <div><p>50$</p></div>
          <div><button id="bakecart"><p>Add to Cart</p><img src="signs/cart.png" id="cart"></button></div></div>
          <div class="bake"><img src="Bakery/confetti cake.webp">
          <div><p>confetti cake</p></div>
          <div><p>25$</p></div>
          <div><button id="bakecart"><p>Add to Cart</p><img src="signs/cart.png" id="cart"></button></div></div>
          <div class="bake"><img src="Bakery/cookie gift basket.webp">
          <div><p>cookie gift basket</p></div>
          <div><p>18$</p></div>
          <div><button id="bakecart"><p>Add to Cart</p><img src="signs/cart.png" id="cart"></button></div></div>
          <div class="bake"><img src="Bakery/lemon Raspberry Cream cheescake.webp">
          <div><p>lemon Raspberry Cream cheescake</p></div>
          <div><p>20$</p></div>
          <div><button id="bakecart"><p>Add to Cart</p><img src="signs/cart.png" id="cart"></button></div></div>
          <div class="bake"><img src="Bakery/lemon tart.webp">
          <div><p>lemon tart</p></div>
          <div><p>12$</p></div>
          <div><button id="bakecart"><p>Add to Cart</p><img src="signs/cart.png" id="cart"></button></div></div>
          <div class="bake"><img src="Bakery/Raspberry cheesecake.webp">
          <div><p>Raspberry cheesecake</p></div>
          <div><p>20$</p></div>
          <div><button id="bakecart"><p>Add to Cart</p><img src="signs/cart.png" id="cart"></button></div></div>
          <div class="bake"><img src="Bakery/rose cake.webp">
          <div><p>rose cake</div>
          <div><p>18$</p></div>
          <div><button id="bakecart"><p>Add to Cart</p><img src="signs/cart.png" id="cart"></button></div></div>
        </div>
      
    </body>
</html>
